<nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a href="#" class="navbar-brand"><img class="logo" src="assets/logo.svg"> TacsCrypto</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="#" class="nav-link">Usuarios</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Transacciones</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#"><img class="logo" src="./../../../assets/logo.svg">TACS-CRYPTO</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/transaction">Transacciones</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Logout</a>
        </li>
      </ul>
    </form>
  </div>
</nav> -->
<div class="container fondo">
  <h2>Usuarios</h2>
  <div class="row">
    <div class="col-sm-12 col-md-5 col-lg-4">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend"><span class="input-group-text">Nombre</span></div>
          <input type="text" class="form-control" name="nombre" placeholder="pepito" [(ngModel)]="nombre">
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-4">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend"><span class="input-group-text">Fecha Acceso</span></div>
          <input type="date" class="form-control" name="fecha" [(ngModel)]="fecha">
        </div>
      </div>
    </div>
    <div class="col-sm-5 col-md-2 col-lg-2">
      <div class="form-group">
        <button type="button" class="btn btn-success">Buscar</button>
      </div>
    </div>    
  </div>
  <table class="table table-sm table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Transacciones</th>
        <th scope="col">Monedas</th>
        <th scope="col">Ultimo Acceso</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>josepo</td>
        <td>12</td>
        <td style="text-align: center">
          <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#exampleModal">
            Ver
          </button>
        </td>
        <td>26/06/2018 14:50:54</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background: #95cc97;">
        <h5 class="modal-title" id="exampleModalLabel">Monedas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <tbody>
            <tr>
              <td>Bitcoin</td>
              <td>0,4567</td>
            </tr>
            <tr>
              <td>Ethereum</td>
              <td>1,54</td>
            </tr>
            <tr>
              <td>OSC</td>
              <td>45,875</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer" style="background: #95cc97;">
        <button type="button" class="btn btn-light" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>