<nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a href="#" class="navbar-brand" style="font-size: 1.6em"><img class="logo" src="assets/logo.svg"> TacsCrypto</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a class="nav-link">Usuarios</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Transacciones</a></li>
        <li class="nav-item"><a style="cursor: pointer" (click)="signOut()" class="nav-link">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>