<div class="jumbotron">
    <h2>Login</h2>
    <form class="form-inline">
        <input id="txtEmail" type="text" class="input-small" placeholder="Email">
        <input id="txtPass" type="password" class="input-small" placeholder="Password">
        <label class="checkbox">
            <input type="checkbox"> Remember me
        </label>
        <button type="submit" class="btn" onclick="login()">Sign in</button>
    </form>
</div>
<div>
    <script type="text/javascript">
        function login() {

            var user = $('#txtEmail').val();
            var pass = $('#txtPass').val();

            var person = {
                username: user,
                password: pass
            };

            // Para pegarle localmente reemplazar >> url:/api/token y poner un breakpoing en el controller de C#

            $.ajax({
                url: 'http://Tacscripto.azurewebsites.net/api/token',
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify(person),
                contentType: 'application/json',
                success: function (data) {
                    alert(data.msg);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus);
                    alert(errorThrown);
                    alert("some error");
                }
            });

        }
        

    </script>


</div>

