.container {
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0 0 2em 0 #00000033, 0 .5em .5em 0 #0000003d;
  background: white;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

table th {
  color: white;
  background: #4CAF50;
}

table tbody td {
  cursor: pointer;
}

.card {
  box-shadow: 0 0 2em 0 #00000033, 0 .5em .5em 0 #0000003d;
}

.modal-success {
  background: #5cb85c;
  color: white;
}

.modal-error {
  background: #f0ad4e;
  color: white;
}

.table-wrapper {
  display: block;
  max-height: 545px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}