<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/80aeb04e-789f-46f0-8c7f-ad89e108869b/resourcegroups/Tacs20180424082528ResourceGroup/providers/Microsoft.Web/sites/TacsCripto</ResourceId>
    <ResourceGroup>Tacs20180424082528ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tacscripto.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tacscripto.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TacsCripto</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TacsCripto</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="Tacs.Context.TacsDataContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:tacscriptodbserver.database.windows.net,1433;Initial Catalog=TacsCripto_db;User ID=javier@tacscriptodbserver;Password=Tacs2018" Name="Data Source=tcp:tacscriptodbserver.database.windows.net,1433;Initial Catalog=TacsCripto_db;User Id=javier@tacscriptodbserver;Password=Tacs2018" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Tacs.Context.TacsDataContext, Tacs" MigrationConfiguration="Tacs.Migrations.Configuration, Tacs" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Tacs.Context.TacsDataContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:tacscriptodbserver.database.windows.net,1433;Initial Catalog=TacsCripto_db;User Id=javier@tacscriptodbserver;Password=Tacs2018</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Tacs.Context.TacsDataContext" />
  </ItemGroup>
</Project>